<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <title>Payment</title>
    <style>
        p{
            margin-bottom: 0px !important;
        }
    </style>
</head>

<body>

   <div  style="background-color: #EBF0F4;width: auto; height: auto;">
    <div class="main-content">
     
      <section>
        <div style="height: auto; margin-top: 40px;">

            <div class="row parent-column">

                <!-- Start | Main Column One-->
                <div class="col-md-12 col-lg-8">
                  
                    <section>
                        <div style="width: 100%; height: auto; background-color: #fff; border-radius: 5px;">
                            <h3 style="padding: 10px;
                            font-size: 22px;
                            color: #333;
                            font-weight: 400;padding-left: 15px !important;">Hot Deals</h3>
                            <div class="" style="padding: 40px; border-top: 1px solid rgba(0,0,0,0.15); border-bottom: 1px solid rgba(0,0,0,0.15); padding-left: 15px !important; padding-top: 10px !important;">
                                <div class="row">
                                  <div class="col-md-6 col-sm-12 col-lg-6 mt-3">
                                  <div style="border:1px solid #E1E8EE; width: 100%; padding: 10px; border-radius: 5px; position: relative; box-shadow: 1px 1px 4px #e1e8ee;">
                                    <p style="margin-bottom: 0px !important;">
                                        <h3 style="font-size: 17px; font-weight: 600; color: #333;">GOSTAY1065</h3>
                                        <span style="font-size: 14px; font-weight: 200;">
                                            Additional 5% discount for BRAC, City AMEX, EBL, HSBC, LankaBangla, MTB, StanChart, UCB cards.
                                        </span> <br>
                                        <small><a href="#">Terms & Conditions</a></small>
                                   
                                    </p>
                                   
                                    </div>
                                  </div>

                                  <div class="col-md-6 col-sm-12 col-lg-6 mt-3">
                                    <div style="border:1px solid #E1E8EE; width: 100%; padding: 10px; border-radius: 5px; position: relative; box-shadow: 1px 1px 4px #e1e8ee;">
                                        <p style="margin-bottom: 0px !important;">
                                            <h3 style="font-size: 17px; font-weight: 600; color: #333;">GOSTAY1065</h3>
                                            <span style="font-size: 14px; font-weight: 200;">
                                                Additional 5% discount for BRAC, City AMEX, EBL, HSBC, LankaBangla, MTB, StanChart, UCB cards.
                                            </span> <br>
                                            <small><a href="#">Terms & Conditions</a></small>
                                       
                                        </p>
                                       
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-lg-6 mt-3">
                                        <div style="border:1px solid #E1E8EE; width: 100%; padding: 10px; border-radius: 5px; position: relative; box-shadow: 1px 1px 4px #e1e8ee;">
                                            <p style="margin-bottom: 0px !important;">
                                                <h3 style="font-size: 17px; font-weight: 600; color: #333;">GOSTAY1065</h3>
                                                <span style="font-size: 14px; font-weight: 200;">
                                                    Additional 5% discount for BRAC, City AMEX, EBL, HSBC, LankaBangla, MTB, StanChart, UCB cards.
                                                </span> <br>
                                                <small><a href="#">Terms & Conditions</a></small>
                                           
                                            </p>
                                           
                                            </div>
                                        </div>
                                </div>
                                
                            </div>

                           <div style="width:100%; height:auto; padding: 30px 15px;">
                               <div class="d-flex justify-content-center">
                                   <div style="padding-right: 10px;width: 70%;">
                                       <input id="focus-remove-btn" style="padding: 7px; width: 100%; box-sizing: border-box; border: 1px solid rgba(0,0,0,0.15); border-radius: 3px;" type="" name="" value="" placeholder="Have a cupon?">
                                   </div>
                                   <div style="width: 30%;">
                                       <button class="btn " style="background-color: #1c3c6b; color: #fff; border-radius: 3px;">Apply</button>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </section>
                    <!-- Premier King Sea Viewb | Section -->
                    <section>
                        <div style="width: 100%; height: auto; background-color: #fff; border-radius: 5px; margin-top: 15px;">
                            <h3 style="padding: 10px;
                            font-size: 18px;
                            color:#1c3c6b;
                            font-weight: 400;padding-left: 15px !important;">Rewards and Benefits</h3>
                            <div class="" style="padding: 40px; border-top: 1px solid rgba(0,0,0,0.15);padding-left: 15px !important; padding-top: 10px !important;">
                                <div class="row">
                                  <div class="col-md-6 col-sm-12 col-lg-6 mt-3">
                                  <div style="border:1px solid #E1E8EE; width: 100%; padding: 10px; border-radius: 5px; position: relative; box-shadow: 1px 1px 4px #e1e8ee;">
                                    <img style="width: 40%; height: auto;" src="./photo/grameenphone.png" alt="">
                                    <p style="margin-bottom: 0px !important;">
                                        <h3 style="font-size: 16px; font-weight: 600; color:#1c3c6b;">Special Deal for GP Star</h3>
                                        <span style="font-size: 14px; font-weight: 200;">
                                            Additional 5% discount for BRAC, City AMEX, EBL, HSBC, LankaBangla, MTB, StanChart, UCB cards.
                                        </span> <br>
                                        <small><a href="#">Terms & Conditions</a></small>
                                   
                                    </p>
                                    <div style="width: 100%;
                                    height: auto;
                                    margin-top: 19px;
                                    padding-bottom: 10px;">
                                        <div class="d-flex justify-content-center">
                                            <div style="padding-right: 10px;width: 75%;">
                                                <input id="focus-remove-btn" style="padding: 5px;
                                                width: 100%;
                                                box-sizing: border-box;
                                                border: 1px solid rgba(0,0,0,0.15);
                                                border-radius: 3px;
                                                font-size: 13px;" type="" name="" value="" placeholder="Enter Your Grameenphone Number">
                                            </div>
                                            <div style="width: 25%;">
                                                <button class="btn btn-sm" style="background-color: #1c3c6b; color: #fff; border-radius: 3px;">Verify</button>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                  
                                  </div>

                                  
                                </div>
                                
                            </div>

                        </div>
                    </section>

                     <!-- Premier King Sea Viewb | Section -->
                   
                     <section>
                        <div style="width: 100%; height: auto; background-color: #fff; border-radius: 5px; margin-top: 15px;">
                            <div class="cart-padding-test" style="padding: 20px;padding-top: 10px !important;">
                                <div class="row">
                                  <div class="col-md-12 col-sm-12 col-lg-12 mt-3">
                                   
                                    <div style="width: 100%; height: auto;">
                                        <div style="width: 100%; height: auto;" class="d-flex justify-content-md-around">
                                            <div id="payment_method" style="width: 25%; height: auto; padding-right: 15px;">
                                                <div style="padding: 6px;
                                                box-shadow: 0px 1px 4px darkgrey;
                                                border-radius: 5px; text-align: center; cursor: pointer; position: relative; width: 100%; overflow: hidden; height: 80px;">
                                              
                                                    <div>
                                                        <div>
                                                            <span style="font-size: 18px;"><i class="far fa-credit-card"></i></span>
                                                        </div>
                                                        <div><h3 id="" style="font-size: 16px; font-weight: 600; color: #1c3c6b;">Credit/Debit Card</h3></div>
                                                    </div>
    
                                                    </div>
                                            
                                        </div>

                                           <div id="payment_method1"  style="width: 25%; height: auto; padding-right: 15px;">
                                            <div style="padding: 7px;
                                            box-shadow: 0px 1px 4px darkgrey;
                                            border-radius: 5px; text-align: center; cursor: pointer; position: relative;width: 100%; overflow: hidden; height: 80px;">
                                                <div>
                                                    <div>
                                                        <span style="font-size: 18px;"><i class="fas fa-mobile-alt"></i></span>
                                                    </div>
                                                    <div><h3 style="font-size: 16px; font-weight: 600; color: #1c3c6b;">Mobile Banking</h3></div>
                                                </div>

                                               


                                            </div>
                                        </div>
                                           <div id="payment_method2"  style="width: 25%; height: auto; padding-right: 15px;">
                                            <div style="padding: 7px;
                                            box-shadow: 0px 1px 4px darkgrey;
                                            border-radius: 5px; text-align: center; cursor: pointer; position: relative; width: 100%; overflow: hidden; height: 80px;">
                                                <div>
                                                    <div>
                                                        <span style="font-size: 18px;"><i class="fas fa-globe-asia"></i></span>
                                                    </div>
                                                    <div><h3 style="font-size: 16px; font-weight: 600; color: #1c3c6b;">Net Banking</h3></div>
                                                </div>

                                             
                                               


                                            </div>
                                        </div>
                                           <div id="payment_method3"  style="width: 25%; height: auto; padding-right: 0px;">
                                            <div style="padding: 7px;
                                            box-shadow: 0px 1px 4px darkgrey;
                                            border-radius: 5px; text-align: center; cursor: pointer; position: relative; width: 100%; overflow: hidden; height: 80px;">
                                                <div>
                                                    <div>
                                                        <span style="font-size: 18px;"><i class="fas fa-home"></i></span>
                                                    </div>
                                                    <div><h3 id="h3-tag-mobile-responsive" style="font-size: 16px; font-weight: 600; color: #1c3c6b;">EMI</h3></div>
                                                </div>

                                                
                                               


                                            </div>
                                        </div>
                                        </div>
                                      
                                    </div>
                                  </div>

                                  
                                </div>
                                
                            </div>

                            <div>
                                <div style="width: 100%; height: auto;">
                                    <div style="padding: 40px 40px 100px 40px; text-align: center;">
                                        <h3 style="font-size: 22px; color: #333; font-weight: 700;">Pay flexibly with EMI</h3>
                                      <div style="box-shadow:1px 0px 9px #e1e8ee; border: none; padding: 8px; border-radius: 5px; width: 100%;" class="form-group mt-3">
                                        <select id="focus-remove-btn" style="border: none;width: 100%;" class="form-control" name="" id="">
                                            <option class="d-none" value=""><strong >Select Your Bank</strong></option>
                                            <option value="">City Bank</option>
                                            <option value="">DBBL Bank</option>
                                        </select>
                                      </div>
                                        <p style="font-size: 14px; font-weight: 400; margin-top: 10px;">
                                            By continuing to pay, I understand and agree with <br>the <a href="#">terms and service</a> with Go Zayaan.
                                        </p>

                                        <a style="background-color: #FEBB02; color:#1c3c6b;margin-top: 20px;" class="btn btn-sm" href=""><strong>Process to payment</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                   

                 
                

                </div>

                <!-- End | Main Column One-->


                <!-- Start | Main Column Two-->
                <div class="col-md-12 col-lg-4">

                    <section>
                        <div style="width: 100%; height: auto; margin-bottom: 15px;">
                            <div style="width:100%; height: auto; background-color:#ECF3FE; border: 10px solid #fff; padding: 10px; border-radius: 5px;"
                            >
                            <p style="font-size: 14px; font-weight: 400; color: #1c3c6b;">
                                Booking confirmed. Complete payment before time out.
                            </p>
                            <div style="width: 100%;">
                                <h1 style="font-size: 22px; font-weight: 600; color: #1c3c6b;">
                                    <span style="padding-right:15px"><i class="fas fa-clock"></i></span><span>39</span> <span>:</span> <span>30</span>
                                </h1>
                            </div>
                            </div>
                        </div>
                    </section>
                    <section>
                      <div style="width: 100%; height: auto; background-color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px; padding: 20px;">
                        <div class="d-flex" style="width: 100%; height: auto; border-bottom: 1px solid rgba(0,0,0,0.15); padding-bottom: 15px;">
                          <div class="flex-fill mobile-and-tab-res-img" style="width: 25%; height: auto;">
                            <img class="rounded float-right" style="width: 80px; height: 80px; border-radius: 5px;" src="./photo/sub1.jpg" alt="">
                          </div>
                          <div  class="flex-fill" style="width: 75%; height: auto; padding-left: 20px;">
                            <p style="margin-bottom: 0px; font-size: 15px; font-weight: 400; color: #1c3c6b; text-transform: capitalize;">Hotel</p>
                          <h3 style="font-size: 16px;
                          line-height: 24px;
                          font-weight: 600;color: #1c3c6b; margin-bottom: 0px;">
                            Royal Tulip Sea Pearl Beach Resort & Spa
                          </h3>
                          <p style="margin-bottom: 0px;">
                            <small>Inani, Cox's Bazar</small>
                          </p>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <span style="color: #525252; font-size: 15px; font-weight: 400;">Rack Rate</span>

                          </div>
                          <div>
                            <span style="color: #212529; font-size: 14px; font-weight: 500;"> BDT <span style="color: #212529; font-size: 15px; font-weight: 400;">18,001</span></span>
                           </div>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <p style="color: #525252; margin-bottom: 0px; font-size: 15px; font-weight: 400;">Hotel Offer <span style="padding: 7px; background-color: #ecf3fe; color: #1c3c6b; font-size: 12px; font-weight: 700; border-radius: 5px;">63%</span></p>

                          </div>
                          <div>
                            
                           <p style="margin-bottom:0px;color: #29a992; font-size: 14px; font-weight: 500;"> <span style="font-size: 11px; color: #29a992; margin-right: 5px;"><i class="fas fa-minus-circle"></i></span>BDT <span style="color: #29a992; font-size: 15px; font-weight: 400;">16,001</span></p>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <span style="color: #525252; font-size: 15px; font-weight: 400;">Sub-Total</span>

                          </div>
                          <div>
                            <span style="color: #212529; font-size: 14px; font-weight: 500;"> BDT <span style="color: #212529; font-size: 15px; font-weight: 400;">18,001</span></span>
                           </div>
                        </div>


                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <p style="color: #525252; margin-bottom: 0px; font-size: 15px; font-weight: 400;">Vat(20%) + SC (10%)</p>

                          </div>
                          <div>
                            
                           <p style="margin-bottom:0px;color: #212529; font-size: 14px; font-weight: 500;"> <span style="font-size: 11px; color: #212529; margin-right: 5px;"><i class="fas fa-plus-circle"></i></span>BDT <span style="color: #212529; font-size: 15px; font-weight: 400;">16,001</span></p>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <p style="color: #525252; margin-bottom: 0px; font-size: 15px; font-weight: 400;">Hot Deals <span style="padding: 7px; background-color: #ecf3fe; color: #1c3c6b; font-size: 12px; font-weight: 700; border-radius: 5px;">GOSTAY1065</span></p>

                          </div>
                          <div>
                            
                           <p style="margin-bottom:0px;color: #29a992; font-size: 14px; font-weight: 500;"> <span style="font-size: 11px; color: #29a992; margin-right: 5px;"><i class="fas fa-minus-circle"></i></span>BDT <span style="color: #29a992; font-size: 15px; font-weight: 400;">510</span></p>
                          </div>
                        </div>

                        <div class="d-flex justify-content-between mb-1">
                          <div>
                            <p style="color: #525252; margin-bottom: 0px; font-size: 15px; font-weight: 400;">Convenience Fee <span style="font-size: 13px; color: #b4a4a4; font-weight: 200;"><i class="fas fa-info-circle"></i></span></p>

                          </div>
                          <div>
                            
                           <p style="margin-bottom:0px;color: #212529; font-size: 14px; font-weight: 500;"> <span style="font-size: 11px; color: #212529; margin-right: 5px;"><i class="fas fa-plus-circle"></i></span>BDT <span style="color: #212529; font-size: 15px; font-weight: 400;">16,001</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between" style="background-color: #ECF3FE; padding: 15px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                        <div>
                          <p style="color: #212529; margin-bottom: 0px; font-size: 17px; font-weight: 600;">You Pay<span style="font-size: 16px; color: #546378; font-weight: 200;padding-left:5px ;">(for 2 travelers) </span></p>
                          <p style="margin-bottom: 0px;color: #29a992;font-weight: 400;font-size: 13px;">You Save</p>
                        </div>
                        <div>
                           <p style="margin-bottom:0px;color: #212529; font-size: 16px; font-weight: 600;">BDT <span style="color: #212529; font-size: 17px; font-weight: 600;">16,001</span></p>
                           <p style="margin-bottom: 0px;color: #29a992;font-weight: 400;font-size: 15px; text-align: end;">BDT 6,450</p>
                        </div>


                      </div>
                    </section>

                   
                
                </div>

                 <!-- End | Main Column Two-->


            </div>
        </div>
   </section>


        
        
            </div>
   </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/custom.js"></script>
   

</body>

</html>